DIV.tx-fieldcolumn {
  float: left;
}

DIV.tx-valuescolumn {
  float: left;
  margin-left: 15px;
}

DIV.tx-valuescolumn UL {
  list-style-type: none;
  margin-left: 0px; 
  padding-left: 1em;
  text-indent: -1em;   
}

DIV.tx-valuescolumn UL LI {
  clear: both;
}

DIV.tx-valuescolumn UL LI IMG {
  float: right;
  margin-left: 2px;
  cursor: pointer;
}

DIV.tx-seteditor LABEL {
  font-weight: bold;
}