BODY {

  background-color: silver;
  text-align: center;1
}

DIV.container
{
   background-color: white;
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 2px solid grey;
   border-bottom: 2px solid grey;
   padding: 15px;
}

DIV.content CANVAS
{
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 2px solid grey;
   border-bottom: 2px solid grey;
}