BODY {
  background-color: silver;
}

DIV.container
{
   float: left;
   overflow: visible;
   width: 800px;
   background-color: white;
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 2px solid grey;
   border-bottom: 2px solid grey;
   padding: 15px;
}

DIV.container CANVAS
{
   border-top: 1px solid black;
   border-left: 1px solid black;
   border-right: 2px solid grey;
   border-bottom: 2px solid grey;
   padding: 2px;
}
