DIV.tx-fieldcolumn {
  float: left;
}

DIV.tx-valuescolumn {
  float: left;
  margin-left: 15px;
}

DIV.tx-valuescolumn UL {
  list-style-type: none;
  margin-left: 0px; 
  padding-left: 1em;
  text-indent: -1em;   
}

DIV.tx-valuescolumn UL LI {
  clear: both;
}

DIV.tx-seteditor LABEL {
  font-weight: bold;
}

SPAN.tx-seteditor-delete {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  float: right;
  background-image: url(silk/delete.png);
  display: inline-block;
  cursor: pointer;
}


SPAN.tx-seteditor-add {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  float: right;
  background-image: url(silk/add.png);
  display: inline-block;
  cursor: pointer;
}

DIV.tx-expando.tx-expanded SPAN.tx-expand { display: none; }

DIV.tx-expando.tx-collapsed SPAN.tx-collapse { display: none; }

DIV.tx-multiselect SELECT {
  width: 200px;
  height: 200px;
  scroll: vertical;
}

DIV.tx-multiselect .tx-title {
  color: white;
  background: black;
  width: 197px;
  font-weight: bold;
  padding: 3px 0px 3px 3px;
}

DIV.tx-multiselect .tx-available, DIV.tx-multiselect .tx-controls, DIV.tx-multiselect .tx-selected {
  float: left;
  margin-left: 5px;
}

DIV.tx-multiselect .tx-controls {
  width: 38px;
  vertical-align: center;
}

DIV.tx-multiselect .tx-deselect, DIV.tx-multiselect .tx-select {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-bottom: 3px;  
}

DIV.tx-multiselect .tx-select {
  background-image: url(../../tapestry/corelib/components/select.png);
}

DIV.tx-multiselect .tx-deselect {  
  background-image: url(../../tapestry/corelib/components/deselect.png);
}

DIV.tx-multiselect .tx-disabled {
  filter: alpha(opacity = 25);  /* IE 7 */
  opacity: .25; /* FireFox, Chrome, Safari */
  cursor: default;
}

DIV.tx-multiselect .tx-input {
  clear: left;
  padding-top: 5px;
}

DIV.t-error-popup {
  z-index: 20000;
}
