DIV.tx-fieldcolumn {
  float: left;
}

DIV.tx-valuescolumn {
  float: left;
  margin-left: 15px;
}

DIV.tx-valuescolumn UL {
  list-style-type: none;
  margin-left: 0px; 
  padding-left: 1em;
  text-indent: -1em;   
}

DIV.tx-valuescolumn UL LI {
  clear: both;
}

DIV.tx-seteditor LABEL {
  font-weight: bold;
}

SPAN.tx-seteditor-delete {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  float: right;
  background-image: url(silk/delete.png);
  display: inline-block;
  cursor: pointer;
}


SPAN.tx-seteditor-add {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  float: right;
  background-image: url(silk/add.png);
  display: inline-block;
  cursor: pointer;
}


DIV.tx-tree-container
{
  padding: 0;
  margin: 0;
}

DIV.tx-tree-container UL
{
  list-style-type: none;
  background-image: url(tree-vpipe.png);
  background-repeat: repeat-y;
  margin: 0 0 0 12px;
  padding: 0; 
}

DIV.tx-tree-container UL UL
{
  /* Line up the nested list's vertical bar under the element's folder icon. */
  margin: 0 0 0 24px;
}


DIV.tx-tree-container LI {
  margin: 0;
  padding: 0 0 0 16px;
  background-image: url(tree-branch.png);
  background-repeat: no-repeat;
  line-height: 1.5;
}

DIV.tx-tree-container LI.tx-last
{
    background-color: white;
    background-image: url(tree-branchend.png);    
}

/* Assume its a collapsed, but expandable, tree node. Later CSS rules overwrite this. */

SPAN.tx-tree-icon {
  display: inline-block;
  width: 32px;
  height: 16px;
  cursor: pointer;
  background-image: url(tree-sprites.png);
  background-position: 0px 0px;
}

SPAN.tx-leaf-node {
  cursor: default;
  background-position: -32px -16px;
}

SPAN.tx-empty-node {
  cursor: default;
  background-position: -32px 0px !important;
}

SPAN.tx-tree-expanded {
  background-position: 0px -16px;
}

SPAN.tx-ajax-wait {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url(ajax-load-indicator.gif);
}


SPAN.tx-expand {
  width: 16px;
  height: 16px;
  background-image: url(expand.png);
  display: inline-block;
  cursor: pointer;
}

SPAN.tx-collapse {
  width: 16px;
  height: 16px;
  background-image: url(collapse.png);
  display: inline-block;
  cursor: pointer;
}

DIV.tx-expando.tx-expanded SPAN.tx-expand { display: none; }

DIV.tx-expando.tx-collapsed SPAN.tx-collapse { display: none; }

DIV.tx-multiselect SELECT {
  width: 200px;
  height: 200px;
  scroll: vertical;
}

DIV.tx-multiselect .tx-title {
  color: white;
  background: black;
  width: 197px;
  font-weight: bold;
  padding: 3px 0px 3px 3px;
}

DIV.tx-multiselect .tx-available, DIV.tx-multiselect .tx-controls, DIV.tx-multiselect .tx-selected {
  float: left;
  margin-left: 5px;
}

DIV.tx-multiselect .tx-controls {
  width: 38px;
  vertical-align: center;
}

DIV.tx-multiselect .tx-deselect, DIV.tx-multiselect .tx-select {
  display: inline-block;
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-bottom: 3px;  
}

DIV.tx-multiselect .tx-select {
  background-image: url(../../tapestry/corelib/components/select.png);
}

DIV.tx-multiselect .tx-deselect {  
  background-image: url(../../tapestry/corelib/components/deselect.png);
}

DIV.tx-multiselect .tx-disabled {
  filter: alpha(opacity = 25);  /* IE 7 */
  opacity: .25; /* FireFox, Chrome, Safari */
  cursor: default;
}

DIV.tx-multiselect .tx-input {
  clear: left;
  padding-top: 5px;
}

DIV.t-error-popup {
  z-index: 20000;
}
