DIV.tx-fieldcolumn {
  float: left;
}

DIV.tx-valuescolumn {
  float: left;
  margin-left: 15px;
}

DIV.tx-valuescolumn UL {
  list-style-type: none;
  margin-left: 0px; 
  padding-left: 1em;
  text-indent: -1em;   
}

DIV.tx-valuescolumn UL LI {
  clear: both;
}

DIV.tx-seteditor LABEL {
  font-weight: bold;
}

SPAN.tx-seteditor-delete {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  float: right;
  background-image: url(silk/delete.png);
  display: inline-block;
  cursor: pointer;
}


DIV.tx-tree-container
{
  border: 1px solid black;
  padding: 2px;
}

DIV.tx-tree-container UL
{
  -webkit-padding-start: 8px;
  margin-left: 16px;
  list-style: none;
}

DIV.tx-tree-container LI
{
  margin-left: -8px;
}

SPAN.tx-structure {
  display: inline-block;
  width: 32px;
  height: 16px;
  background: url(tree-sprites.png) -96px -16px;
}

SPAN.tx-last {
  background-position: -96px 0px;
}

/* Assume its a collapsed, but expandable, tree node. Later CSS rules overwrite this. */

SPAN.tx-tree-icon {
  display: inline-block;
  width: 32px;
  height: 16px;
  cursor: pointer;
  background: url(tree-sprites.png) 0px 0px;
}

SPAN.tx-leaf-node {
  cursor: none;
  background-position: -64px 0px;
}

SPAN.tx-empty-node {
  cursor: none !important;
  background-position: -32px 0px !important;
}

SPAN.tx-tree-expanded {
  background-position: 0px -16px;
}

SPAN.tx-ajax-wait {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(ajax-load-indicator.gif);
}


SPAN.tx-expand {
  width: 16px;
  height: 16px;
  background-image: url(expand.png);
  display: inline-block;
  cursor: pointer;
}

SPAN.tx-collapse {
  width: 16px;
  height: 16px;
  background-image: url(collapse.png);
  display: inline-block;
  cursor: pointer;
}

DIV.tx-expando.tx-expanded SPAN.tx-expand { display: none; }

DIV.tx-expando.tx-collapsed SPAN.tx-collapse { display: none; }

