<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tapx-kaptcha" annotations="1.5" verbose="2">
  <test name="Integration Tests">
    <parameter name="tapestry.web-app-folder" value="src/test/webapp"/>
    <classes>
      <class name="org.apache.tapestry5.test.SeleniumLauncher"/>
    </classes>
  </test>
</suite>